In [1]:
import pandas as pd
import itertools
df=pd.read_csv("/home/sumit/Desktop/bhawani_dataset.csv",sep=" ",header=None)

In [2]:
trans={}
for i in range(df.shape[0]):
    if isinstance(df[1][i],str): 
        trans[df[0][i]]=df[1][i].split(",")

In [3]:
trans

{101: ['Milk', 'Biscuit'],
 102: ['Kachori', 'Tea'],
 103: ['Samosha', 'Tea'],
 104: ['Jalebi', 'Milk'],
 105: ['Kurkure', 'Lays'],
 106: ['Namkeen', 'Tea'],
 107: ['Biscuit', 'Tea'],
 108: ['Samosha', 'Jalebi', 'Kurkure'],
 109: ['Kachori', 'Jalebi'],
 110: ['Namkeen', 'Jalebi'],
 111: ['Lays', 'Tea'],
 112: ['Milk', 'Biscuit', 'Jalebi'],
 113: ['Samosha', 'Tea', 'Biscuit'],
 114: ['Namkeen', 'Tea', 'Lays'],
 115: ['Lays', 'Kurkure', 'Lays'],
 116: ['Kachori', 'Tea', 'Kurkure'],
 117: ['Samosha']}

In [4]:
df

      0                       1
0   101            Milk,Biscuit
1   102             Kachori,Tea
2   103             Samosha,Tea
3   104             Jalebi,Milk
4   105            Kurkure,Lays
5   106             Namkeen,Tea
6   107             Biscuit,Tea
7   108  Samosha,Jalebi,Kurkure
8   109          Kachori,Jalebi
9   110          Namkeen,Jalebi
10  111                Lays,Tea
11  112     Milk,Biscuit,Jalebi
12  113     Samosha,Tea,Biscuit
13  114        Namkeen,Tea,Lays
14  115       Lays,Kurkure,Lays
15  116     Kachori,Tea,Kurkure
16  117                    Milk
17  117                 Samosha

In [5]:
c1={}
for i in range(df.shape[0]):
    itemList=df[1][i].split(",")
    for item in itemList:
        if item not in c1:
            c1[item]=1
        else:
            c1[item]+=1

In [6]:
c1

{'Milk': 4,
 'Biscuit': 4,
 'Kachori': 3,
 'Tea': 8,
 'Samosha': 4,
 'Jalebi': 5,
 'Kurkure': 4,
 'Lays': 5,
 'Namkeen': 3}

In [19]:
support=4
l1={}
k=c1.keys()
c=c1.values()

In [20]:
for key,i in zip(k,c):
    if i>=support:
        l1[key]=i

In [21]:
l1

{'Milk': 4,
 'Biscuit': 4,
 'Tea': 8,
 'Samosha': 4,
 'Jalebi': 5,
 'Kurkure': 4,
 'Lays': 5}

In [22]:
s=sorted(l1)

In [23]:
s

['Biscuit', 'Jalebi', 'Kurkure', 'Lays', 'Milk', 'Samosha', 'Tea']

In [24]:
c2=[]
for element in itertools.product(s,s):
    j,k=element
    if(j!=k):
        c2.append(element)

In [25]:
for i,j in c2:
    for k,l in c2:
        if (i==l and j==k):
            c2.remove((k,l))

In [26]:
c2

[('Biscuit', 'Jalebi'),
 ('Biscuit', 'Kurkure'),
 ('Biscuit', 'Lays'),
 ('Biscuit', 'Milk'),
 ('Biscuit', 'Samosha'),
 ('Biscuit', 'Tea'),
 ('Jalebi', 'Kurkure'),
 ('Jalebi', 'Lays'),
 ('Jalebi', 'Milk'),
 ('Jalebi', 'Samosha'),
 ('Jalebi', 'Tea'),
 ('Kurkure', 'Lays'),
 ('Kurkure', 'Milk'),
 ('Kurkure', 'Samosha'),
 ('Kurkure', 'Tea'),
 ('Lays', 'Milk'),
 ('Lays', 'Samosha'),
 ('Lays', 'Tea'),
 ('Milk', 'Samosha'),
 ('Milk', 'Tea'),
 ('Samosha', 'Tea')]

In [27]:
set(c2[8]).issubset(trans[df[0][7]])

False

In [28]:
set(c2[8]),trans[df[0][8]]

({'Jalebi', 'Milk'}, ['Kachori', 'Jalebi'])

In [29]:
set(df[1][7]).issubset(set(c2[8]))

False

In [34]:

C2[('Biscuit', 'Jalebi')]=C2[('Biscuit', 'Jalebi')]+1

In [31]:
C2={}
for i in range(df.shape[0]):
    for j in c2:
        if set(j).issubset(trans[df[0][i]]) and j in C2.keys():
            C2[j]=C2[j]+1
        else:
            C2[j]=1

In [35]:
C2

{('Biscuit', 'Jalebi'): 2,
 ('Biscuit', 'Kurkure'): 1,
 ('Biscuit', 'Lays'): 1,
 ('Biscuit', 'Milk'): 1,
 ('Biscuit', 'Samosha'): 1,
 ('Biscuit', 'Tea'): 1,
 ('Jalebi', 'Kurkure'): 1,
 ('Jalebi', 'Lays'): 1,
 ('Jalebi', 'Milk'): 1,
 ('Jalebi', 'Samosha'): 1,
 ('Jalebi', 'Tea'): 1,
 ('Kurkure', 'Lays'): 1,
 ('Kurkure', 'Milk'): 1,
 ('Kurkure', 'Samosha'): 1,
 ('Kurkure', 'Tea'): 1,
 ('Lays', 'Milk'): 1,
 ('Lays', 'Samosha'): 1,
 ('Lays', 'Tea'): 1,
 ('Milk', 'Samosha'): 1,
 ('Milk', 'Tea'): 1,
 ('Samosha', 'Tea'): 1}